@model ThietBiDienTu.Areas.Admin.Models.DanhMuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="form-group">
        @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-outline-primary btn-fw mdi mdi-backburger" })
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thông tin danh mục</h4>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label class="col-sm-3 col-md-6">Danh mục:</label>
                <div class="">
                    <p class="form-control">@Html.DisplayFor(model => model.TenDanhMuc)</p>
                </div>
            </div>

            <div class="text-center mt-4">
                <p class="card-description">
                    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaDanhMuc }, new { @class = "btn btn-outline-dark btn-fw mdi mdi-pencil-box" })
                </p>
            </div>
        </div>
    </div>
