
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <!-- container -->
    <div class="container">

        <h1>GIỚI THIỆU CHUNG</h1>
        <br />
        <p>Ch&uacute;ng t&ocirc;i l&agrave; một trong những đơn vị ti&ecirc;n phong tại H&agrave; Nội hoạt động trong lĩnh vực kinh doanh c&aacute;c d&ograve;ng sản phẩm laptop. Th&agrave;nh lập từ năm 2020 đến nay, Ch&uacute;ng t&ocirc;i l&agrave; đ&atilde; tạo dựng được chỗ đứng vững chắc tr&ecirc;n thị trường v&agrave; trở th&agrave;nh c&aacute;i t&ecirc;n quen thuộc đối với kh&aacute;ch h&agrave;ng.</p>
        <br />

        <p>Sau 3 năm th&agrave;nh lập, Ch&uacute;ng t&ocirc;i l&agrave; lu&ocirc;n nỗ lực hết m&igrave;nh để đem đến dịch vụ v&agrave; giải ph&aacute;p c&ocirc;ng nghệ chuy&ecirc;n nghiệp, với t&acirc;m niệm mỗi kh&aacute;ch h&agrave;ng khi t&igrave;m kiếm đến ch&uacute;ng t&ocirc;i kh&ocirc;ng chỉ trải nghiệm dịch vụ mua b&aacute;n th&ocirc;ng thường m&agrave; sẽ cảm nhận thấy sự kh&aacute;c biệt - tin cậy, an t&acirc;m đến từ chất lượng sản phẩm, chế độ hậu m&atilde;i.</p>
        <br />

        <p>Ch&uacute;ng t&ocirc;i l&agrave; cam kết c&aacute;c sản phẩm lu&ocirc;n đảm bảo chất lượng cao v&agrave; nguồn gốc r&otilde; r&agrave;ng, gi&aacute; cạnh tranh tr&ecirc;n thị trường, nhiều sự lựa chọn, nhiều ưu đ&atilde;i hấp dẫn, bảo h&agrave;nh uy t&iacute;n với chế độ hậu m&atilde;i d&agrave;i l&acirc;u.</p>
        <br />

        <p>✅ Điện thoại chất lượng - Bảo h&agrave;nh D&Agrave;I L&Acirc;U</p>

        <p>✅ Laptop mới 100% ch&iacute;nh h&atilde;ng - GI&Aacute; TỐT NHẤT THỊ TRƯỜNG</p>
        <br />

        <p>Quy tụ&nbsp;đội ngũ nh&acirc;n vi&ecirc;n trẻ tuổi, c&oacute; chuy&ecirc;n m&ocirc;n, nhiệt huyết, tận tụy với kh&aacute;ch h&agrave;ng, khi t&igrave;m đến Ch&uacute;ng t&ocirc;i l&agrave; c&aacute;c bạn sẽ&nbsp;cảm thấy h&agrave;i l&ograve;ng khi tiếp x&uacute;c trực tiếp tại cửa h&agrave;ng hoặc qua điện thoại, nh&acirc;n vi&ecirc;n tư vấn của ch&uacute;ng t&ocirc;i sẽ hướng dẫn v&agrave; cung cấp cho kh&aacute;ch h&agrave;ng những th&ocirc;ng tin hữu &iacute;ch nhất với sự nhiệt th&agrave;nh v&agrave; th&acirc;n thiện. Đi theo&nbsp;phương ch&acirc;m &ldquo;Kiến tạo chất lượng - Kết nối sẻ chia&rdquo;, ch&uacute;ng t&ocirc;i lu&ocirc;n lắng nghe v&agrave; quan t&acirc;m tới nhu cầu của kh&aacute;ch h&agrave;ng, đồng thời kh&ocirc;ng ngừng n&acirc;ng cao chất lượng dịch vụ mỗi ng&agrave;y.</p>
        <br />

        <p><em>Xin ch&acirc;n th&agrave;nh cảm ơn qu&yacute; kh&aacute;ch đ&atilde; ủng hộ Ch&uacute;ng t&ocirc;i l&agrave;. Sự h&agrave;i l&ograve;ng của qu&yacute; kh&aacute;ch ch&iacute;nh l&agrave; niềm vui v&agrave; tạo động lực gi&uacute;p ch&uacute;ng t&ocirc;i kh&ocirc;ng ngừng ho&agrave;n thiện v&agrave; ph&aacute;t triển dịch vụ hơn nữa!</em></p>

        </div>
    </div>


